.menuLogo {
    display: none;
}

.menu {
    width: 90%;
    height: 6rem;
    border-radius: 10px 10px 0 0;
    background-color: #363636;
    position: fixed;
    bottom: 14px;
    box-shadow: 0 -2px 6px #28576c80;
}

.menu ul {
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.menu ul li:first-child {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #969696;
    border-radius: 100%;
    background-color: var(--button-yellow);
}

.menu ul li:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border: 3px solid #969696;
    border-radius: 100%;
    background-color: var(--button-blue);
}

.menu ul li:last-child {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #969696;
    border-radius: 100%;
    background-color: var(--button-green);
}

.menuIcon {
    width: 28px;
}

.label {
    display: none;
}

/*@media (prefers-color-scheme: dark) {}*/

@media (min-width: 420px) {
    .menu {
        width: 91%;
    }
}

@media (min-width: 640px) {
    .menu {
        width: 92%;
    }
}

@media (min-width: 768px) {
    .menuLogo {
        display: block;
        width: 13rem;
    }

    .menu {
        top: 17px;
        box-shadow: 0 2px 6px #28576c80;
        border-radius: 0 0 10px 10px;
        gap: 10%;
    }

    .menuIcon {
       display: none;
    }

    .menu ul {
        justify-content: space-evenly;
        text-decoration: none;
    }

    .menu ul li:first-child {
        border: unset;
        border-radius: unset;
        background-color: unset;
    }

    .menu ul li:nth-child(2) {
        border: unset;
        border-radius: unset;
        background-color: unset;
    }

    .menu ul li:last-child {
        border: unset;
        border-radius: unset;
        background-color: unset;
    }

    .label {
        display: block;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
    }
}

/*@media (min-width: 1024px) {}*/

/*@media (min-width: 1280px) {}*/