.teamDetailsSection {
    width: 100%;
    padding-bottom: 7rem;
}

.teamHeader {
    width: 100%;
}

.buttonContainer {
    width: 100%;
}

.editButton, .deleteButton {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.editButton {
    background-color: var(--button-yellow);
}

.deleteButton {
    background-color: var(--fire-red);
}

.cardsContainer {
    list-style: none;
}

.teamName {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}

.statisticsContainer {
    width: 100%;
    font-size: 1.9rem;
}

/*@media (prefers-color-scheme: dark) {}*/

/*@media (min-width: 420px) {}*/

@media (min-width: 640px) {
    .teamDetailsSection {
        padding-bottom: 1rem;
        padding-top: 8rem;
    }
}

/*@media (min-width: 768px) {}*/

/*@media (min-width: 1024px) {}*/

/*@media (min-width: 1280px) {}*/


