.profileSection {
    width: 100%;
    align-items: center;
    padding-bottom: 7rem;
}

.iconContainer {
    background-color: var(--button-green);
    border-radius: 50%;
}

.userInfoContainer, .teamCountContainer {
    background-color: var(--card-white);
    border-radius: 1rem;
    box-shadow: 0 2px 6px var(--greyish-black);
}

.userInfoContainer {
    width: 90%;
}

.teamCountContainer {
    width: 70%;
}

.userInfoContainer > h2, .teamCountContainer > *  {
    font-size: 2rem;
    font-weight: 400;
}

.teamCountContainer > p {
    font-family: "Jersey 25", sans-serif;
}

.logOut {
    align-self: center;
    font-size: 1.75rem;
    background-color: #D12426;
}

.profileIcon {
    width: 2.5rem;
}

/*@media (prefers-color-scheme: dark) {}*/

/*@media (min-width: 420px) {}*/

@media (min-width: 640px) {
    .profileSection {
        padding-bottom: 1rem;
        padding-top: 7rem;
    }

    .userInfoContainer {
        width: 50%;
    }

    .teamCountContainer {
        width: 30%;
    }
}

/*@media (min-width: 768px) {}*/

@media (min-width: 1024px) {
    .userInfoContainer {
        width: 30%;
    }

    .teamCountContainer {
        width: 20%;
    }
}

/*@media (min-width: 1280px) {}*/
