.home {
    padding-bottom: 7rem;
}

.loadMore {
    font-size: 1.75rem;
    background-color: var(--login-blue);
}

.loadMore:disabled {
    cursor: not-allowed;
    background-color: rgba(54, 95, 172, 0.4);
}

.goBack {
    width: 50%;
    align-self: center;
    font-size: 1.75rem;
    background-color: var(--login-blue);
}


/*@media (prefers-color-scheme: dark) {}*/

/*@media (min-width: 420px) {}*/

@media (min-width: 640px) {
    .home {
        padding-bottom: 1.5rem;
        padding-top: 8rem;
    }
}

/*@media (min-width: 768px) {}*/

/*@media (min-width: 1024px) {}*/

/*@media (min-width: 1280px) {}*/
