.loadMore {
    font-size: 1.75rem;
    background-color: var(--login-blue);
}

.loadMore:disabled {
    cursor: not-allowed;
    background-color: rgba(54, 95, 172, 0.4);
}

.goBack {
    width: 50%;
    align-self: center;
    font-size: 1.75rem;
    background-color: var(--login-blue);
}