.logoContainer {
    width: 100%;
}

.logoImage {
    max-width: 18em;
    min-width: 8em;
    background-size: contain;
    background-repeat: no-repeat;
}


@media (min-width: 768px) {
    .logoImage {
        max-width: 25em;
    }
}

@media (min-width: 1024px) {
    .logoImage {
        max-width: 28em;
    }
}