.button {
    background-color: var(--login-blue);
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .button {
        font-size: 2rem;
    }

    .labelSize {
        font-size: 2.2rem;
    }
}
