@media (min-width: 768px) {
    .button {
        font-size: 2rem;
    }

    .labelSize {
        font-size: 2.2rem;
    }
}

@media (min-width: 1024px) {
   .labelSize {
        font-size: 2.5rem;
    }
}