@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

:root {
    --johmuria: 'Jomhuria';

    --fire-red: #D12426;
    --card-white: #F2F2F2FF;
    --screen-grey: #B5B5B5;
    --screen-black: #0E0E0E;
    --login-blue: #365FAC;
    --register-yellow: #BDA442;
    --greyish-black: #2A2A2A;

    --button-blue: #2baaff;
    --button-yellow: #bda442;
    --button-green: #469455;

    --grass-green: #9acc50;
    --poison-purple: #b97fc9;
    --fire-orange: #fc7e23;
    --flying-gradient: linear-gradient(180deg, #3ec9f0 50%, #bdb8b7 50%);
    --water-blue: #4591c4;
    --bug-green: #729e3f;
    --normal-grey: #a5adb0;
    --eletric-yellow: #edd434;
    --ground-gradient: linear-gradient(180deg, #f7df40 50%, #ab9843 50%);
    --fairy-pink: #fcb8e8;
    --fight-orange: #d66722;
    --psychic-pink: #f266b8;
    --steel-blue: #9eb7b8;
    --ice-blue: #51c4e8;
    --purple-ghost: #7b62a3;
    --yellow-rock: #a38c21;
    --dragon-gradient: linear-gradient(180deg, #53a3cf 50%, #f26e57 50%);
    --dark-grey: #707070;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--johmuria), sans-serif;
    color: var(--greyish-black);
    transition: all 0.8s ease-in-out;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: var(--fire-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 95%;
    height: 98%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    position: relative;

    padding: 0.6rem;

    overflow-y: auto;
    scroll-behavior: smooth;

    border-radius: 10px;
    border: 0.5em solid var(--card-white);
    background-color: var(--screen-grey);
}

/*Reutilizáveis*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.button {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.05em;
    cursor: pointer;
    padding: 0.2em 0.5em;
    box-shadow: 0 4px 8px #00000033;
}

.labelSize {
    font-size: 1.8rem;
    letter-spacing: 0.01em;
}

.smallGap {
    gap: 0.5rem;
}

.mediumGap {
    gap: 1rem;
}

.largeGap {
    gap: 2rem;
}

.smallPadding {
    padding: 0.5rem;
}

.mediumPadding {
    padding: 1rem;
}

.largePadding {
    padding: 2rem;
}

.errorMessage {
    color: var(--fire-red);
    text-shadow: 0 2px 3px rgba(106, 106, 106, 0.67);
    font: bold 14px Roboto, cursive;
}

.errorMessage:before {
    content: "* ";
}

.grass {
    background-color: var(--grass-green);}

.poison {
    background-color: var(--poison-purple);
}

.fire {
    background-color: var(--fire-orange);
}

.flying {
    background: var(--flying-gradient);
}
.water {
    background-color: var(--water-blue);
}

.bug {
    background-color: var(--bug-green);
}

.normal {
    background-color: var(--normal-grey);
}

.electric {
    background-color: var(--eletric-yellow);
}

.ground {
    background: var(--ground-gradient);
}

.fairy {
    background-color: var(--fairy-pink);
}

.fighting {
    background-color: var(--fight-orange);
}

.psychic {
    background-color: var(--psychic-pink);
}

.steel {
    background-color: var(--steel-blue);
}

.ice {
    background-color: var(--ice-blue);
}

.ghost {
    background-color: var(--purple-ghost);
}

.rock {
    background-color: var(--yellow-rock);
}

.dragon {
    background: var(--dragon-gradient);
}

.dark {
    background-color: var(--dark-grey);
}

@media (prefers-color-scheme: dark) {

}